.card {
    display: grid;
    border-radius: 20px;
    border-color: blue;
    border-width: 5px;
    width: 80%;
    height: 80%;
    border-style: solid;
    place-items: center;
    place-content: center;
    text-align: center;
    background-color: rgba(123, 134, 234, 0.599);
<<<<<<< HEAD
    color: white;
=======
    color: white;   
>>>>>>> 3adbf85481c073dad43ca96046dc37cdeb5409fa
}

.front {
    font-size: 3.8vw;
    /* text-decoration: underline; */
}

.back {
    font-size: 2vw;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    /* transform: rotateY(180deg); */
}
.symptoms-title {
    text-decoration: underline;
}