.card {
    display: grid;
    border-radius: 20px;
    border-color: blue;
    border-width: 5px;
    width: 80%;
    height: 80%;
    border-style: solid;
    place-items: center;
    place-content: center;
    text-align: center;
    background-color: rgba(123, 134, 234, 0.599);
    color: white;
    
}

.front {
    font-size: 50px;
    text-decoration: underline;
}

.back {
    font-size: 30px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}
.symptoms-title {
    text-decoration: underline;
}