body {
  background-color: lightblue;
  padding: 0;
  margin: 0;
}

.cards {
  justify-content: space-between;
}

.header {
  display: grid;
  place-items: center;
  padding: 10px;
}

.cards {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 60px;
  grid-template-rows: 90px 90px;
}